<a href="https://colab.research.google.com/github/jerrysun95/AStarIsBorn_NBAStarPrediction/blob/main/AStarIsBorn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from patsy import dmatrices
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn import metrics

In [ ]:
nbaRaw = pd.read_csv("/content/NBA2011_2021.csv")

In [ ]:
nbaRaw = nbaRaw.dropna()

In [ ]:
cleanNBA = nbaRaw.groupby(["Player"]).mean()

In [ ]:
cleanNBA

                                      Rk        Age  ...        PTS         year
Player                                               ...
A.J. Hammons\hammoaj01        171.000000  24.000000  ...  10.600000  2016.000000
A.J. Price\priceaj01          359.857143  26.571429  ...  13.914286  2012.571429
Aaron Brooks\brookaa01         62.916667  28.916667  ...  15.591667  2012.916667
Aaron Gordon\gordoaa01        176.666667  22.666667  ...  15.688889  2017.666667
Aaron Gray\grayaa01           175.000000  29.000000  ...   6.500000  2013.000000
...                                  ...        ...  ...        ...          ...
Zion Williamson\willizi01     523.000000  19.500000  ...  29.200000  2019.500000
Zoran Dragić\dragizo01        133.000000  25.000000  ...  14.266667  2014.000000
Zydrunas Ilgauskas\ilgauzy01  218.000000  35.000000  ...  11.300000  2010.000000
Álex Abrines\abrinal01          1.000000  24.000000  ...  11.733333  2017.000000
Ömer Aşık\asikom01             20.000000  26.000000  ...  12.200000  2012.000000

[1224 rows x 27 columns]

In [ ]:
cleanNBA = cleanNBA.drop(columns=["Rk"])

In [ ]:
cleanNBA.mean()

Age       25.443981
G         41.002870
GS        15.990493
MP       848.238649
FG         4.928404
FGA       11.630568
FG%        0.424700
3P         1.251250
3PA        3.920596
3P%        0.280417
2P         3.676360
2PA        7.710707
2P%        0.473121
FT         2.146708
FTA        2.958516
FT%        0.722672
ORB        1.547262
DRB        4.605957
TRB        6.152860
AST        2.996102
STL        1.131999
BLK        0.682665
TOV        1.981421
PF         3.402507
PTS       13.256147
year    2015.582052
dtype: float64

In [ ]:
cleanNBA["star"] = np.where(
    (cleanNBA["G"] > 41.002870) &
    (cleanNBA["GS"] > 15.990493) &
    (cleanNBA["MP"] > 848.238649 ) &
    (cleanNBA["FG"] >   4.928404) &
    (cleanNBA["FGA"] > 11.630568) &
    (cleanNBA["FG%"] >  0.424700) 

    ,
    "star"
    ,
    "lame"
)

In [ ]:
cleanNBA

                                    Age          G  ...         year  star
Player                                              ...
A.J. Hammons\hammoaj01        24.000000  22.000000  ...  2016.000000  lame
A.J. Price\priceaj01          26.571429  32.285714  ...  2012.571429  lame
Aaron Brooks\brookaa01        28.916667  50.750000  ...  2012.916667  lame
Aaron Gordon\gordoaa01        22.666667  55.888889  ...  2017.666667  star
Aaron Gray\grayaa01           29.000000  35.000000  ...  2013.000000  lame
...                                 ...        ...  ...          ...   ...
Zion Williamson\willizi01     19.500000  42.500000  ...  2019.500000  star
Zoran Dragić\dragizo01        25.000000  10.666667  ...  2014.000000  lame
Zydrunas Ilgauskas\ilgauzy01  35.000000  72.000000  ...  2010.000000  lame
Álex Abrines\abrinal01        24.000000  58.000000  ...  2017.000000  lame
Ömer Aşık\asikom01            26.000000  82.000000  ...  2012.000000  lame

[1224 rows x 27 columns]

In [ ]:
cleanNBA[cleanNBA["star"] == "star"]

                                   Age          G  ...         year  star
Player                                             ...
Aaron Gordon\gordoaa01       22.666667  55.888889  ...  2017.666667  star
Al Horford\horfoal01         29.000000  59.272727  ...  2015.000000  star
Al Jefferson\jeffeal01       29.833333  63.166667  ...  2013.833333  star
Amar'e Stoudemire\stoudam01  30.600000  48.600000  ...  2012.600000  star
Andray Blatche\blatcan01     25.500000  61.250000  ...  2011.500000  star
...                                ...        ...  ...          ...   ...
Willie Green\greenwi01       31.000000  61.800000  ...  2012.000000  star
Wilson Chandler\chandwi01    27.307692  47.461538  ...  2014.307692  star
Zach LaVine\lavinza01        22.000000  58.714286  ...  2017.000000  star
Zach Randolph\randoza01      32.500000  66.125000  ...  2013.500000  star
Zion Williamson\willizi01    19.500000  42.500000  ...  2019.500000  star

[163 rows x 27 columns]

In [ ]:
cleanNBA.to_csv("test.csv")

In [ ]:
yearlyNBA = nbaRaw.groupby(["Player","year"]).mean()

In [ ]:
yearlyNBA

                                      Rk   Age     G    GS  ...  BLK  TOV   PF   PTS
Player                       year                           ...
A.J. Hammons\hammoaj01       2016  171.0  24.0  22.0   0.0  ...  2.9  2.2  4.6  10.6
A.J. Price\priceaj01         2010  339.0  24.0  50.0   0.0  ...  0.0  2.4  2.8  14.6
                             2011  357.0  25.0  44.0   1.0  ...  0.1  2.0  1.9  10.9
                             2012  344.0  26.0  57.0  22.0  ...  0.1  1.8  2.1  12.4
                             2013  360.0  27.0  28.0   0.0  ...  0.0  2.5  1.8  16.0
...                                  ...   ...   ...   ...  ...  ...  ...  ...   ...
Zydrunas Ilgauskas\ilgauzy01 2010  218.0  35.0  72.0  51.0  ...  1.8  1.6  5.8  11.3
Álex Abrines\abrinal01       2016    1.0  23.0  68.0   6.0  ...  0.3  1.1  3.9  13.9
                             2017    1.0  24.0  75.0   8.0  ...  0.3  0.8  3.9  11.2
                             2018    1.0  25.0  31.0   2.0  ...  0.4  0.9  3.2  10.1
Ömer Aşık\asikom01           2012   20.0  26.0  82.0  82.0  ...  1.3  2.5  3.3  12.2

[4775 rows x 26 columns]

In [ ]:
yearlyNBA["yearsActive"] = yearlyNBA.groupby("Player")["Rk"].transform('count')

In [ ]:
yearlyNBA = yearlyNBA[yearlyNBA["yearsActive"] >= 2]

In [ ]:
yearlyNBA

                                   Rk   Age  ...   PTS  yearsActive
Player                    year               ...
A.J. Price\priceaj01      2010  339.0  24.0  ...  14.6            5
                          2011  357.0  25.0  ...  10.9            5
                          2012  344.0  26.0  ...  12.4            5
                          2013  360.0  27.0  ...  16.0            5
                          2014  373.0  28.0  ...  14.5            5
...                               ...   ...  ...   ...          ...
Zion Williamson\willizi01 2019  518.0  19.0  ...  29.1            2
                          2020  528.0  20.0  ...  29.3            2
Álex Abrines\abrinal01    2016    1.0  23.0  ...  13.9            3
                          2017    1.0  24.0  ...  11.2            3
                          2018    1.0  25.0  ...  10.1            3

[4475 rows x 27 columns]

In [ ]:
onlyFirst = yearlyNBA.groupby(["Player"]).head(1)

In [ ]:
onlyFirst

                                   Rk   Age  ...        PTS  yearsActive
Player                    year               ...
A.J. Price\priceaj01      2010  339.0  24.0  ...  14.600000            5
Aaron Brooks\brookaa01    2010   64.0  26.0  ...  17.866667            7
Aaron Gordon\gordoaa01    2014  177.0  19.0  ...  11.000000            7
Aaron Harrison\harriaa01  2015  186.0  21.0  ...   7.000000            3
Aaron Holiday\holidaa01   2018  230.0  22.0  ...  16.400000            3
...                               ...   ...  ...        ...          ...
Zach Randolph\randoza01   2010  346.0  29.0  ...  19.900000            8
Zaza Pachulia\pachuza01   2012  328.0  28.0  ...   9.700000            7
Zhaire Smith\smithzh01    2018  458.0  19.0  ...  13.000000            2
Zion Williamson\willizi01 2019  518.0  19.0  ...  29.100000            2
Álex Abrines\abrinal01    2016    1.0  23.0  ...  13.900000            3

[924 rows x 27 columns]

In [ ]:
star = cleanNBA["star"]

In [ ]:
combined = onlyFirst.merge(star,on = "Player",how = "left")

In [ ]:
combined = combined.drop(columns=["Rk","Age","yearsActive"])

In [ ]:
combined

                                   G    GS      MP  ...        PF        PTS  star
Player                                              ...
A.J. Price\priceaj01       50.000000   0.0   795.0  ...  2.800000  14.600000  lame
Aaron Brooks\brookaa01     39.333333   8.0   856.0  ...  3.266667  17.866667  lame
Aaron Gordon\gordoaa01     47.000000   8.0   797.0  ...  3.700000  11.000000  star
Aaron Harrison\harriaa01   21.000000   0.0    93.0  ...  3.900000   7.000000  lame
Aaron Holiday\holidaa01    50.000000   0.0   646.0  ...  4.000000  16.400000  lame
...                              ...   ...     ...  ...       ...        ...   ...
Zach Randolph\randoza01    75.000000  74.0  2724.0  ...  2.300000  19.900000  star
Zaza Pachulia\pachuza01    52.000000  15.0  1134.0  ...  4.100000   9.700000  lame
Zhaire Smith\smithzh01      6.000000   2.0   111.0  ...  2.600000  13.000000  lame
Zion Williamson\willizi01  24.000000  24.0   668.0  ...  2.300000  29.100000  star
Álex Abrines\abrinal01     68.000000   6.0  1055.0  ...  3.900000  13.900000  lame

[924 rows x 25 columns]

Nearestr Neighbor

In [ ]:
combined2 = combined.copy()

In [ ]:
combined2['target'] = 0

In [ ]:
mask = combined2['star'] == "star"
combined2.loc[mask,'target'] = 1.0

In [ ]:
combined2 = combined2.rename(columns={"FG%":"FGPer",
                                      "3P":"P3",
                                      "3PA":"PA3",
                                      "3P%":"P3Per",
                                      "2P":"P2",
                                      "2PA":"PA2",
                                      "2P%":"P2Per"



})

In [ ]:
Y, X = dmatrices("target ~ 0 + G + GS + MP + FGPer + P3 + PA3 + P3Per + FGA + P2 + PA2 + P2Per + FT + FTA + ORB + DRB + TRB + AST + STL + BLK + TOV + PF + PTS",
                 combined2,return_type="dataframe")

In [ ]:
y = Y['target'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
model = neighbors.KNeighborsClassifier(n_neighbors=15,
                                       weights='uniform',
                                       p=2)

In [ ]:
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=15)

In [ ]:
X_train.iloc[0:5]

                                   G         GS  ...   PF        PTS
Player                                           ...
Klay Thompson\thompkl01    66.000000  29.000000  ...  3.5  18.500000
Mike James\jamesmi01       11.000000   0.000000  ...  6.0  15.900000
Jerome Robinson\robinje01  33.000000   0.000000  ...  5.2  12.600000
O.J. Mayo\mayooj01         71.000000  17.000000  ...  2.4  15.500000
Donald Sloan\sloando01     20.333333   7.333333  ...  1.9  10.033333

[5 rows x 22 columns]

In [ ]:
print ('Predictions =', model.predict(X_train.iloc[0:5]))

Predictions = [0. 0. 0. 0. 0.]

In [ ]:
prediction_on_training = model.predict(X_train)

In [ ]:
print ( metrics.accuracy_score(y_train, prediction_on_training))

0.8405572755417957

In [ ]:
model.predict_proba(X_train.iloc[0:5])

array([[0.73333333, 0.26666667],
       [1.        , 0.        ],
       [0.86666667, 0.13333333],
       [0.66666667, 0.33333333],
       [0.93333333, 0.06666667]])

In [ ]:
model.predict(X_train.iloc[0:5])

array([0., 0., 0., 0., 0.])

In [ ]:
predicted_classes = model.predict(X_test)
print (metrics.accuracy_score(y_test, predicted_classes))

0.8525179856115108

In [ ]:
combined.groupby("star").count()

        G   GS   MP   FG  FGA  FG%   3P  ...  TRB  AST  STL  BLK  TOV   PF  PTS
star                                     ...
lame  765  765  765  765  765  765  765  ...  765  765  765  765  765  765  765
star  159  159  159  159  159  159  159  ...  159  159  159  159  159  159  159

[2 rows x 24 columns]

In [ ]:
765 + 159

924

In [ ]:
765/924

0.827922077922078

In [ ]:
# This is sooooo bad lolz

In [ ]:
curry = pd.DataFrame(
    np.array([[80,77,2896,6.6,14.2,]])


)

In [ ]:
combined

                                   G    GS      MP  ...        PF        PTS  star
Player                                              ...
A.J. Price\priceaj01       50.000000   0.0   795.0  ...  2.800000  14.600000  lame
Aaron Brooks\brookaa01     39.333333   8.0   856.0  ...  3.266667  17.866667  lame
Aaron Gordon\gordoaa01     47.000000   8.0   797.0  ...  3.700000  11.000000  star
Aaron Harrison\harriaa01   21.000000   0.0    93.0  ...  3.900000   7.000000  lame
Aaron Holiday\holidaa01    50.000000   0.0   646.0  ...  4.000000  16.400000  lame
...                              ...   ...     ...  ...       ...        ...   ...
Zach Randolph\randoza01    75.000000  74.0  2724.0  ...  2.300000  19.900000  star
Zaza Pachulia\pachuza01    52.000000  15.0  1134.0  ...  4.100000   9.700000  lame
Zhaire Smith\smithzh01      6.000000   2.0   111.0  ...  2.600000  13.000000  lame
Zion Williamson\willizi01  24.000000  24.0   668.0  ...  2.300000  29.100000  star
Álex Abrines\abrinal01     68.000000   6.0  1055.0  ...  3.900000  13.900000  lame

[924 rows x 25 columns]

In [ ]:
combined

                                   G    GS      MP  ...        PF        PTS  star
Player                                              ...
A.J. Price\priceaj01       50.000000   0.0   795.0  ...  2.800000  14.600000  lame
Aaron Brooks\brookaa01     39.333333   8.0   856.0  ...  3.266667  17.866667  lame
Aaron Gordon\gordoaa01     47.000000   8.0   797.0  ...  3.700000  11.000000  star
Aaron Harrison\harriaa01   21.000000   0.0    93.0  ...  3.900000   7.000000  lame
Aaron Holiday\holidaa01    50.000000   0.0   646.0  ...  4.000000  16.400000  lame
...                              ...   ...     ...  ...       ...        ...   ...
Zach Randolph\randoza01    75.000000  74.0  2724.0  ...  2.300000  19.900000  star
Zaza Pachulia\pachuza01    52.000000  15.0  1134.0  ...  4.100000   9.700000  lame
Zhaire Smith\smithzh01      6.000000   2.0   111.0  ...  2.600000  13.000000  lame
Zion Williamson\willizi01  24.000000  24.0   668.0  ...  2.300000  29.100000  star
Álex Abrines\abrinal01     68.000000   6.0  1055.0  ...  3.900000  13.900000  lame

[924 rows x 25 columns]

In [ ]:
combined2.loc["Stephen Curry\curryst01"]

G            74
GS           74
MP         2489
FG          7.3
FGA        15.2
FGPer      0.48
P3          2.2
PA3         4.9
P3Per     0.442
P2          5.1
PA2        10.3
P2Per     0.498
FT          3.1
FTA         3.3
FT%       0.934
ORB         0.8
DRB         3.4
TRB         4.1
AST         6.2
STL         1.6
BLK         0.3
TOV         3.3
PF          3.4
PTS        19.9
star       star
target        1
Name: Stephen Curry\curryst01, dtype: object

In [ ]:
combined3 = combined2.drop(columns="star")

In [ ]:
combined3.loc["Stephen Curry\curryst01"]

G           74.000
GS          74.000
MP        2489.000
FG           7.300
FGA         15.200
FGPer        0.480
P3           2.200
PA3          4.900
P3Per        0.442
P2           5.100
PA2         10.300
P2Per        0.498
FT           3.100
FTA          3.300
FT%          0.934
ORB          0.800
DRB          3.400
TRB          4.100
AST          6.200
STL          1.600
BLK          0.300
TOV          3.300
PF           3.400
PTS         19.900
target       1.000
Name: Stephen Curry\curryst01, dtype: float64